<div class="container">
    <div>
        <h2>Ajouter un produit:</h2>
    </div>
    <form>
<div class="col-sm-4 col-md-4 col-lg-4">
<label>ID produit</label>
<input type="number" [(ngModel)]="newProd.id"  name="id" class="form-control">
</div>

<div class="col-sm-4 col-md-4 col-lg-4">
    <label>Title produit</label>
    <input type="text" [(ngModel)]="newProd.title"  name="title" class="form-control">
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <label>price produit</label>
        <input type="number" [(ngModel)]="newProd.price"  name="price" class="form-control">
        </div>
        
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>quantity produit</label>
            <input type="number" [(ngModel)]="newProd.quantity"  name="quantity" class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <label>like produit</label>
                <input type="number" [(ngModel)]="newProd.like"  name="like" class="form-control">
                </div>
                <div class="mt-2">
                    <button type="submit" (click)="addProduit()" class="btn btn-success">Ajouter</button>
                </div>
    </form>

</div>
